@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #020408; /* midnight-950 */
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
  overflow: hidden; /* App-like feel, no window scrollbar */
}

/* Custom Scrollbar for internal panels */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #090b10; 
}
::-webkit-scrollbar-thumb {
  background: #1e2433; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; 
}